# this is meant to be installed under /etc/systemd/system

[Unit]
Description=Sidecar service propagates R2lab testbed status using websockets
After=network.target

# also available is the option
#  -u wss://r2lab-sidecar.inria.fr:443/

[Service]
WorkingDirectory=/root/r2lab-sidecar
ExecStartPre=/usr/bin/mkdir -p /var/lib/sidecar
ExecStart=/usr/bin/python sidecar-server.py
# make it more robust
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
