/* the first grid with inputs and buttons */

.head-grid {
  background-color: #eee;
  display: grid;
  grid-template-columns: 10em 8em 10em 2fr;
  grid-template-areas:
    "head head head head"
    "left-buttons nodes-label nodes-request-button nodes-request-input"
    "left-buttons nodes-label nodes-info-button nodes-info-input"
    "left-buttons phones-label phones-request-button phones-request-input"
    "left-buttons phones-label phones-info-button phones-info-input"
    "left-buttons leases-label leases-request-button leases-request-input"
    "left-buttons leases-label leases-info-button leases-info-input"
    "nodes-contents nodes-contents phones-contents phones-contents"
    "leases-contents leases-contents leases-contents leases-contents"
    ;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  justify-items: center;
  align-items: center;
}

/* the line with URL and status */
#top-line {
    display: flex;
    flex-direction: row;
}

#top-line>#url-label {
    font-size: 20px;
    width: 12em;
    padding-top: 8px;
}
#top-line>input {
    width: 20em;
}
#top-line>#connection-status {
    width: 100%;
}

/* the leaft area with connection management buttons */
#left-buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    border-top: 1px solid #888;
    border-right: 2px solid #888;
}

#left-buttons>button {
    font-size: 20px;
    background-color: #ddd;
}

/* actual inputs and buttons area */
.head-grid>div {
    font-size: 30px;
    text-align: center;
    width: 100%;
}

.head-grid>div.contents {
    border-top: 1px solid #888;
    font-size: 20px;
    margin: 5px;
    text-align: left;
    padding-top: 8px;
}

button {
    padding: 4px;
    font-size: 12px;
}

button.red {
    background-color: Tomato;
}
button.green {
    background-color: Teal;
}
input {
    width: 100%;
    font-size: 18px;
}

/* -------------------- contents */
.body-grid {
    background-color: #aaa;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
       "nodes-contents phones-contents leases-contents";
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    justify-items: center;
    align-items: center;
}


/* actual contents */
.body-grid>div {
    font-size: 30px;
    text-align: left;
    width: 100%;
}

span.date {
    font-size: 12px;
}
div.contents>ul>li>ul>li {
    font-size: 15px;
}



